// global styles for <a> and <p> tags
$govuk-global-styles: true;
$govuk-new-link-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";
@import "patterns/related-items";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you


.action-arrow {
  background: url(/public/images/action-arrow.svg) no-repeat;
  height: 20px;
  width: 20px;
  float: left;
  padding-right: 5px;
}

.onwards {
  margin: 20px 0 50px 0;
}
.float-title {
  color: govuk-colour("dark-grey");
}
.subsection {
  border-top: 3px solid #1d70b8;
  border-bottom: 1px solid #b1b4b6;
  padding: 20px 0;
}


// Print this page

.gem-c-print-link {
  display: none;
}

.gem-c-print-link.gem-c-print-link--show-without-js {
  display: block;
}

.js-enabled {
  .gem-c-print-link {
    display: block;
  }
}

.gem-c-print-link__link,
.gem-c-print-link__button {
  background: url(/public/images/icon-print-2x.png) no-repeat 10px 50%;
  background-size: 15%;
  padding: 10px 10px 10px 40px;
  text-decoration: none;
  &:hover {
    background-color: govuk-colour("light-grey");
  }
}

.gem-c-print-link__link {
  box-shadow: inset 0 0 0 1px $govuk-border-colour;

  &:focus {
    border: 0;
    box-shadow: 0 $govuk-focus-width $govuk-text-colour;
  }
}

.gem-c-print-link__button {
  border: 1px solid $govuk-border-colour;
  color: $govuk-link-colour;
  cursor: pointer;
  margin: govuk-spacing(0);

  &:focus {
    @include govuk-focused-text;
    background-color: $govuk-focus-colour;
    border-color: transparent;
  }
}




// Smart answer answers


.gem-c-summary-list__group-title {
  @include govuk-media-query($from: tablet) {
    display: inline-block;
    margin-right: govuk-spacing(3);
  }
}

.gem-c-summary-list__group-actions-list {
  margin-bottom: govuk-spacing(3);

  @include govuk-media-query($from: tablet) {
    float: right;
    width: auto;
  }
}

.gem-c-summary__block {
  @include govuk-responsive-margin(6, "bottom");
}

.gem-c-summary-list--wide-title {
  @include govuk-media-query($from: 'tablet') {
    .govuk-summary-list__key {
      width: 60%;
    }

    .govuk-summary-list__value {
      width: 20%;
    }
  }
}


.govuk-summary-list__key {
    width: 60%;
  }


.email-updates {
  background: #f3f2f1;
  padding: 30px 0 20px 20px;
  margin-bottom: 20px;
}

.smart-answer-cta {
  padding: 20px 20px 10px 0px;
  margin: 10px 0 10px 0;
}

.smart-answer-cta2 {
  padding: 20px 20px 10px 20px;
  margin: 10px 0 10px 0;
  border: 1px solid $govuk-border-colour;
}
