
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Travel abroad during Coronavirus
      </h1>
      <p>
        Page designs for the <a href="https://smart-answer-covid-trav-x7xocy.herokuapp.com/covid-travel-abroad">travel smart answer</a> private beta
      </p>




      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="results_fully_vaccinated">Results page</a></li>
          <li>
          <a href="travel-sbs-1">Travel step by step</a>
        </li>

      </ul>
    </div>
  </div>

{% endblock %}
