
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Travel abroad during Coronavirus
      </h1>
      <p>
        Page designs for the <a href="https://smart-answer-covid-trav-x7xocy.herokuapp.com/covid-travel-abroad">travel smart answer</a> private beta
      </p>


<h2 class="govuk-heading-l">
  For user research w/c January 31st</h2>

  <ol class="govuk-list govuk-list--number">
    <li><a href="travel-abroad-step-by-step">Travel abroad step by step</a></li>
    <li><a href="results-page-smart-answer">Results page with a warning message</a></li>
    <li><a href="choose-multiple-countries">Choose multiple countries</a></li>
    </ol>

    <hr>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="results_page_warnings">Results page – with warnings</a></li>
          <li>
            <a href="results_page_warnings">Results page – guidance being updated</a></li>
        <li>
          <a href="results_fully_vaccinated">Results page</a></li>
          <li>
            <a href="results_accordions">Results page – accordion</a></li>

        <li>
        <a href="travel-sbs-2">A. Travel step by step: arrow</a>
      </li>

      <li>
      <a href="travel-sbs-4">B. Travel step by step: inset</a>
    </li>

      </ul>
    </div>
  </div>

{% endblock %}
