{% extends "layout.html" %}

{% block pageTitle %}
  Step by step navigation
{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/step-by-step-nav.js"></script>
  <script type="text/javascript">
    var $element = $('#step-by-step-navigation')
    var stepByStepNavigation = new GOVUK.Modules.AppStepNav()
    stepByStepNavigation.start($element)
  </script>
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Passports, travel and living abroad</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Travel abroad</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Travel abroad: step by step
    </h1>

    <p>
      Check what you need to do to travel internationally.</p>

    <p>There’s different guidance if you are travelling for <a href="#">business in the EU</a> or <a href="#">driving professionally abroad</a>.    </p>

    <div id="step-by-step-navigation" class="app-step-nav app-step-nav--large app-step-nav--active" data-show-text="Show" data-hide-text="Hide" data-show-all-text="Show all" data-hide-all-text="Hide all">
      <ol class="app-step-nav__steps">
        <li class="app-step-nav__step js-step" id="check-youre-allowed-to-drive" >
          <div class="app-step-nav__header js-toggle-panel" data-position="1">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden">Step</span> 1
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Plan your trip
              </span>
            </h2>
          </div>


          <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-check-youre-allowed-to-drive-1">

            <p>There are things you need to do before you travel and after you arrive during coronavirus (COVID-19).</p>

            <div class="govuk-inset-text">
              <p class="govuk-body-m"><a href="#"><a href="https://betademo:nottobeshared@smart-answers-preview.herokuapp.com/check-travel-during-coronavirus">Check what you need to do for your journey if you're travelling abroad</a></p>
            </div>


            <p class="app-step-nav__paragraph">There are different rules if you're:</p>

            <ul class="govuk-list govuk-list--bullet">
              <li><a href="https://www.gov.scot/publications/coronavirus-covid-19-international-travel-quarantine/">travelling abroad from Scotland </a></li>
              <li><a href="https://gov.wales/rules-international-travel-and-wales-coronavirus">travelling abroad from Wales </a></li>
              <li><a href="https://www.nidirect.gov.uk/articles/coronavirus-covid-19-travel-advice">travelling abroad from Northern Ireland</a></li>
            </ul>

            <p><a href="#">Check foreign travel advice for the country you're travelling to or transiting through</a></p>

            <p><a href="https://www.gov.uk/guidance/red-list-of-countries-and-territories">Check the COVID-19 testing and quarantine rules for countries on the travel red list</a></p>

          </div>



        <li class="app-step-nav__step js-step" id="get-a-provisional-licence" >
          <div class="app-step-nav__header js-toggle-panel" data-position="2">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden">Step</span> 2
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Get your passport, visas and permits ready
              </span>
            </h2>
          </div>

          <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-get-a-provisional-licence-2">
            <p>How much time you need on your passport depends on the country you're visiting. Check the entry requirements for the country you want to travel to.</p>

            <p><a href="https://www.gov.uk/foreign-travel-advice?step-by-step-nav=8c0c7b83-5e0b-4bed-9121-1c394e2f96f3">Check your passport has enough time left on it for the country you're visiting</a></p>

            <p><a href="https://www.gov.uk/renew-adult-passport?step-by-step-nav=8c0c7b83-5e0b-4bed-9121-1c394e2f96f3">Renew or replace your passport</a></p>

                <p><a href="https://www.gov.uk/get-a-child-passport?step-by-step-nav=8c0c7b83-5e0b-4bed-9121-1c394e2f96f3">Get a passport for your child</a>  </p>

                <p>You may also need a visa to enter some countries.</p>

                <p><a href="https://www.gov.uk/foreign-travel-advice?step-by-step-nav=8c0c7b83-5e0b-4bed-9121-1c394e2f96f3">Check if you need a visa or permit</a></p>
          </div>

        </li>

        <li class="app-step-nav__step js-step" id="driving-lessons-and-practice" >
          <div class="app-step-nav__header js-toggle-panel" data-position="3">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden">Step</span> 3
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Get travel insurance and check if you need vaccinations or inoculations
              </span>
            </h2>
          </div>

          <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-driving-lessons-and-practice-3">
            <p><a href="https://www.gov.uk/guidance/foreign-travel-insurance?step-by-step-nav=8c0c7b83-5e0b-4bed-9121-1c394e2f96f3"> Get travel insurance</a></p>
            <p><a href="https://www.gov.uk/guidance/nhs-covid-pass?step-by-step-nav=8c0c7b83-5e0b-4bed-9121-1c394e2f96f3">Use your NHS COVID Pass to prove you're vaccinated</a></p>
            <p><a href="https://travelhealthpro.org.uk/">Check what vaccinations or inoculations you may need on the TravelHealthPro website</a></p>
          </div>

        </li>




          <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-prepare-for-your-theory-test-4">

          </div>


        <li class="app-step-nav__step js-step" id="book-and-manage-your-theory-test" >
          <div class="app-step-nav__header js-toggle-panel" data-position="5">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden">Step</span> 4
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Travel safely during COVID-19
              </span>
            </h2>
          </div>

          <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-book-and-manage-your-theory-test-5">
            <p><a href="https://www.gov.uk/guidance/coronavirus-covid-19-safer-travel-guidance-for-passengers?step-by-step-nav=8c0c7b83-5e0b-4bed-9121-1c394e2f96f3">Find out how to travel safely in the UK during COVID-19</a></p>
            <p><a href="https://www.gov.uk/guidance/coronavirus-covid-19-safer-air-travel-guidance-for-passengers?step-by-step-nav=8c0c7b83-5e0b-4bed-9121-1c394e2f96f3">Check guidance for safer air travel during COVID-19</a></p>

          </div>

        </li>

        <li class="app-step-nav__step js-step" id="book-and-manage-your-driving-test" >
          <div class="app-step-nav__header js-toggle-panel" data-position="6">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden">Step</span> 5
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                 Going through border control
              </span>
            </h2>
          </div>

          <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-book-and-manage-your-driving-test-6">
            <p>You may need to show paperwork such as your passport or visa. You may also need a negative COVID-19 test result or to demonstrate your COVID-19 vaccination status at the point of entry.</p>

            <p><a href="https://www.gov.uk/foreign-travel-advice?step-by-step-nav=8c0c7b83-5e0b-4bed-9121-1c394e2f96f3">Check the entry requirements for the country you are travelling to or transiting through</a></p>


          </div>

        </li>

        <li class="app-step-nav__step js-step" id="when-you-pass" >
          <div class="app-step-nav__header js-toggle-panel" data-position="7">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden">Step</span> 6
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                When you're abroad
              </span>
            </h2>
          </div>

          <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-when-you-pass-7">
            <p><a href="https://www.gov.uk/foreign-travel-advice?step-by-step-nav=8c0c7b83-5e0b-4bed-9121-1c394e2f96f3">Follow the local COVID-19 restrictions</a></p>
            <p>Find out what to do if:</p>

            <ul class="govuk-list--bullet">
            <li><a href="https://www.gov.uk/guidance/uk-residents-visiting-the-eueea-and-switzerland-healthcare?step-by-step-nav=8c0c7b83-5e0b-4bed-9121-1c394e2f96f3">you need to access healthcare in the EU</a></li>
            <li><a href="https://www.gov.uk/guidance/how-to-deal-with-a-crisis-overseas?step-by-step-nav=8c0c7b83-5e0b-4bed-9121-1c394e2f96f3">you're in a crisis abroad</a></li>
            <li><a href="https://www.gov.uk/help-if-you-are-arrested-abroad?step-by-step-nav=8c0c7b83-5e0b-4bed-9121-1c394e2f96f3">you're arrested abroad</a></li>
            <li><a href="https://www.gov.uk/victim-crime-abroad?step-by-step-nav=8c0c7b83-5e0b-4bed-9121-1c394e2f96f3">you're a victim of a crime abroad</a></li>
            </ul>
            <p>&nbsp;</p>
    </div>

        <li class="app-step-nav__step js-step" id="when-you-pass" >
          <div class="app-step-nav__header js-toggle-panel" data-position="7">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden">Step</span> 7
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Before you return to the UK
              </span>
            </h2>
          </div>

          <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-when-you-pass-7">

            <p>Check what you need to do before you travel to England and after you arrive during COVID-19</p>

            <p>There are different COVID-19 rules if you're:</p>

            <ul class="govuk-list--bullet">
            <li><a href="https://www.gov.scot/publications/coronavirus-covid-19-international-travel-quarantine/">entering Scotland</a></li>
            <li><a href="https://gov.wales/rules-international-travel-and-wales-coronavirus">entering Wales</a></li>
            <li><a href="https://www.nidirect.gov.uk/articles/coronavirus-covid-19-travel-advice">entering Northern Ireland</a></li>
              </ul>

            <p>Find out what to do if you want to:</p>

            <ul class="govuk-list--bullet">
            <li><a href="#">bring goods into the UK</a></li>
            <li><a href="#">bring food, plants or animal products into the UK for personal use</a></li>
            </ul>
            <p>&nbsp;</p>
          </div>

        </li>

        <li class="app-step-nav__step js-step" id="when-you-pass" >
          <div class="app-step-nav__header js-toggle-panel" data-position="7">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden">Step</span> 7
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                After you arrive in the UK
              </span>
            </h2>
          </div>

          <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-when-you-pass-7">
            <p>Check what you need to do before you travel to England and after you arrive during COVID-19</p>
            <p>Follow the latest COVID-19 restrictions when you're in England</p>

            <p>There are different COVID-19 rules if you're:</p>

            <ul class="govuk-list--bullet">
            <li><a href="#">entering Scotland</a></li>
            <li><a href="#">entering Wales</a></li>
            <li><a href="#">entering Northern Ireland</a></li>
            </ul>

            <p>You may also need to declare goods and pay tax and duty to UK customs.</p>

            <p><a href="https://www.gov.uk/bringing-goods-into-uk-personal-use?step-by-step-nav=8c0c7b83-5e0b-4bed-9121-1c394e2f96f3">Check if you need to declare goods and pay tax and duty</a></p>

          </div>

        </li>
      </ol>
    </div>

  </div>
</div>

{% endblock %}
